<% layout('/layouts/boilerplate.ejs') %>
<!-- Technology Section Starts -->
<section class="container" id="technology-section">
    <div class="row mt-5 align-items-center">
        <div class="col-md-6 mb-4 mb-md-0">
            <h2 class="section-title animate__animated animate__fadeInLeft">Technologies</h2>
            <ul class="tech-list animate__animated animate__fadeInRight">
                <li>JavaScript
                    <ol>
                        <li>Speech Recognition API</li>
                    </ol>
                </li>
                <li>Express.js
                    <ol>
                        <li>Child Process</li>
                        <li>EJS Mate</li>
                    </ol>
                </li>
                <li>Bootstrap</li>
                <li>Python
                    <ol>
                        <li>Web scraping with BeautifulSoup, Requests, and urllib</li>
                        <li>Text to speech using gTTS and pyttsx3</li>
                        <li>Speech to text using SpeechRecognition</li>
                        <li>Useful packages: re, json, glob</li>
                    </ol>
                </li>
            </ul>
        </div>
        <div class="col-md-6 text-center">
            <img src="/assests/technology.jpg" alt="Technology Image" class="img-fluid rounded tech-img">
        </div>
    </div>
</section>
<!-- Technology Section Ends -->
